$red: #FF494B;
$green: #72BE47;
$yellow: #FFB63C;
$blue: #22C4D6;

$default-color: rgba(14, 84, 105, .2);
$primary-color: rgba(22, 222, 255, .6);
$primary-active-color: rgba(34, 196, 214, .9);
$negative-active-color: rgba(45, 78, 93, .9);
$disabled-color: rgba(50, 50, 50, .2);

.no-select {
  user-select: none;
}

.wrapper {
  padding: 1rem;
}

input {
  border: 0;
  border-bottom: 1px solid #18353A;
  padding: .5rem 0;
  background-color: transparent;
  color: #FFF;
  transition: border-bottom-color 500ms;
  width: 100%;
  line-height: 1;

  &:focus {
    outline: none;
    border-bottom-color: $blue;
  }

  &:disabled {
    color: #999;
  }
}

button {
  border: 0;
  background-color: $default-color;
  color: #CCC;
  padding: .5rem .75rem;
  font-size: 14px;
  transition: background-color 300ms, color 300ms;
  user-select: none;
  border-radius: .25rem;

  &.primary {
    background-color: $primary-color;
  }

  &.negative:enabled:hover {
    background-color: $negative-active-color !important;
    color: #FFF !important;
  }

  &.active {
    background-color: $primary-active-color;
    color: #FFF;
  }

  &:focus {
    outline: none;
  }

  &:enabled:hover {
    color: #AAA;

    &:not(.no-bg) {
      background-color: $primary-active-color;
      color: #FFF;
    }
  }

  &:disabled {
    background-color: $disabled-color;
    color: #AAA;
  }

  &:disabled:hover {
    cursor: not-allowed;
    color: #AAA;

    &:not(.no-bg) {
      background-color: $disabled-color;
    }
  }
}

.vc-compact {
  background-color: transparent;
  padding: 0;
}
