$red: #FF494B;
$green: #72BE47;
$yellow: #FFB63C;
$blue: #4798BE;

.no-select {
  user-select: none;
}

.wrapper {
  padding: 1rem;
}

input {
  border: 0;
  border-bottom: 1px solid #18353a;
  padding: .5rem 0;
  background-color: transparent;
  color: #FFF;
  transition: border-bottom-color 500ms;
  width: 100%;
  line-height: 1;

  &:focus {
    outline: none;
    border-bottom-color: $blue;
  }

  &:disabled {
    color: #999;
  }
}

button {
  border: 0;
  background-color: rgba(14, 84, 105, 0.2);
  color: #CCC;
  padding: .5rem .75rem;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
  user-select: none;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba(112, 194, 232, 0.9);
    color: #000;
  }

  &:disabled {
    background-color: rgba(50, 50, 50, 0.2);
    color: #AAA;
  }

  &:disabled:hover {
    background-color: rgba(50, 50, 50, 0.2);
    cursor: not-allowed;
    color: #AAA;
  }
}
